@media print {
  body *:not(#printSection):not(#printSection *) {
    visibility: hidden;
  }
  p {
    margin-bottom: 0 !important;
  }
  .logo {
    width: 350px;
  }
  .print-slogan {
    font-size: 10px;
  }
}
