/* Google-fonts Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
ul,
li {
  list-style: none;
}
ol,
ul {
  padding-left: 0 !important;
}
a {
  text-decoration: none;
}
p {
  color: #000;
}
.top {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.navbar{
  background-color: #01579B!important;
  height: 70px;
}

.nav-link{
  color:#fff !important;
  margin-right: 20px;
  font-size: 14px;
}
.nav-link:hover{
  color: rgba(255,255,255,.75) !important;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0.5rem;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border:none; 
  border-radius: 0.25rem;
  
}
.dropdown-menu[data-bs-popper] {
  top: 54px ;
  left: 0;
  margin-top: 0.125rem;
}
.dropdown-menu>li{
  padding: 0 10px;
}
.dropdown-menu>li:hover{
  background-color: #01579B!important;
  color: #fff;
}

.dropdown-menu>li>a{
  color: gray;
}
.dropdown-menu>li>a:hover{
  background-color: #01579B!important;
  color: #fff;
}
.btn-outline-success {
  color: #fff;
  border-color: #fff;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #01579B !important;
  border-color: #01579B !important;
}
.collapse.show {
  display: block;
}
/* Slider */
.swiper-container {
  width: 100%;
  height: 100vh;
}
.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
}
.content {
  width: 80%;
  margin: auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content h1 {
  font-size: 5.8rem;
  font-size: 900;
  margin-top: 0;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
}
.content p {
  font-size: 2.5rem;
  color: #fff;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  color: #fff;
}
.counter-section {
  padding: 40px 0;
  background-color: #fff;
}
.counter {
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #000;
}
.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}

.product-category {
  width: 100%;
  padding: 60px 0;
}
.product-category .card {
  width: 100%;
  transform: skew(-20deg);
  background: #3e8da8;
}
.product-category h2 {
  margin-bottom: 36px;
  font-size: 28px;
  font-weight: 500;
}
.product-category .owl-item img {
  width: auto !important;
}
.product-category .owl-theme .owl-nav {
  display: none !important;
}
.product-category .owl-theme .owl-dots,
.owl-theme .owl-nav {
  display: none !important;
}
.news-section {
  padding: 40px 0;
  background-color: #eceff1;
}
.news-heading,
.event-heading {
  height: 100px;
  margin-right: 15px;
  border-right: 2px solid gray;
}
.news-link p,
.event-link p {
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
}
.image img {
  height: 150px;
  width: 100%;
}

/* Supplier CSS */
.supplier-section {
  width: 100%;
  padding: 60px 0;
}
.supplier-section h2 {
  margin-bottom: 36px;
  font-size: 28px;
  font-weight: 500;
}
.supplier-section .owl-item img {
  width: auto !important;
}
.supplier-section .owl-theme .owl-nav {
  display: none !important;
}
.supplier-section .owl-theme .owl-dots,
.owl-theme .owl-nav {
  display: none !important;
}
/* Award section */
.award-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.award-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.award-section {
  width: 100%;
  padding: 60px 0;
  background-color: #eceff1;
}
.award-section h2 {
  margin-bottom: 36px;
  font-size: 28px;
  font-weight: 500;
  color: #3e8da8;
}
.award-section .owl-item img {
  width: auto !important;
}
.award-section .owl-theme .owl-nav {
  display: none !important;
}
.award-section .owl-theme .owl-dots,
.owl-theme .owl-nav {
  display: none !important;
}
.footer-top {
  background-color: #212121;
  color: #9e9e9e;
  padding: 40px 0;
}
.footer-top h2 {
  font-weight: 200;
}
.footer-bottom {
  padding: 20px 0;
  background-color: #383838;
  color: #9e9e9e;
}
.bold-footer {
  color: #9e9e9e;
}

/* Products CSS */

.products {
  background-color: #eee;
  padding: 40px 0;
}

/* product detials */
.product-details {
  padding: 80px 0;
  background-color: #ffffff;
}
.box {
  border: 1px solid gray;
  padding: 20px;
  background-color: #fdfce5;
}
.box > ul > li {
  list-style-type: circle;
  margin-left: 20px;
}
.product-desc p {
  color: #818796;
  font-size: 14px;
  font-weight: 300;
}
.social-icon {
  margin-left: 28px;
}
.social-icon ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.social-icon ul li a {
  color: #fff;
  font-size: 40px;
}
.social-icon ul li a :hover {
  color: honeydew;
}
/* Overview Page CSS */

.overview-banner {
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.overview-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.product-ovierview {
  padding: 40px 0;
}
.company-overview h6 {
  font-size: 20px;
  color: #3e3e3e;
  font-weight: 300;
  line-height: 1.5;
}
.product-image img {
  border-radius: 8px;
  box-shadow: 0px 3px 10px grey;
}
.product-title {
  margin-bottom: 16px;
}
.product-title a {
  font-size: 36px;
  font-weight: 500;
  color: #3e3e3e;
  transition: 0.5s;
}
.product-title a:hover {
  color: #4285f4;
  transition: 0.5s;
}
.product-overview-desc p {
  font-size: 18px;
  color: #212529;
  font-weight: 300;
}
/* Mission and Vision */
.mission-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.mission-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.mission-section {
  padding: 15px 40px;
}
.mission-box {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 8px;
}
.border {
  margin: 0 auto;
  width: 96%;
  height: 1px;
  background-color: #e0e0e0;
}
.mission-title {
  padding: 25px 20px;
}
.vission-title > ul > li {
  list-style-type: square;
  margin-left: 40px;
}
/* Brand Page CSS */
.brand-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.brand-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.brand-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-logo img {
  transition: 0.3s;
}
.brand-logo img:hover {
  transform: scale(1.5);
}
/* Event Page CSS */
.event-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.event-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.event-details {
  height: 350px;
}
.event-news {
  background-color: #f5f5f5;
  height: 100%;
}
.event-date {
  background-color: #e0e0e0;
  height: 100%;
}
.date-header {
  padding: 6px 0;
  background-color: #4285f4;
  color: #fff;
  font-weight: 300;
}
.event-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.event-desc-heading {
  padding: 10px 20px;
}
.event-desc-details {
  padding: 10px 20px;
}
.event-img {
  border: 1px solid gray;
  padding: 3px;
}
.event-img img {
  transition: 0.4s;
}
.event-img img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* Award page CSS */
.award-wrap {
  height: 600px;
}
.award-heading {
  background-color: #59698d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.award-date p {
  color: #fff;
}
.award-img {
  overflow: hidden;
  height: 360px;
}
.award-image {
  width: 100%;
  transition: all 0.4s ease;
}
.award-image:hover {
  transform: scale(1.1);
}
.award-desc {
  background-color: #f5f5f5;
  padding: 15px 20px;
}
/* Sister Concern Page CSS */
.sister-concern-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.sister-concern-banner h2 {
  padding: 150px 0;
  text-align: center;
}
.sister-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid;
  height: 200px;
  transition: all 0.4s ease;
}
.sister-company:hover {
  transform: scale(0.9);
}
.sister-concern-section{
  padding: 40px 0;
}
/* Video Page CSS */
.video-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.video-banner h2 {
  padding: 150px 0;
  text-align: center;
}
filter-nav{
  display: flex;
  justify-content: center;
}
.items{
  display: flex;
  max-width: 720px;
  width: 34%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #007bff;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image{
  width: calc(100% / 3);
  padding: 7px;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image iframe{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover iframe{
  transform: scale(1.1);
}
.gallery .image.hide{
  display: none;
}
.gallery .image.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
/* History and Growth */
.history-banner{
  background-image: url("../img/machineries.jpg");
  background-image: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

}
.history-banner h2 {
  padding: 150px 0;
  text-align: center;
}

.timeline-section{
	background-color: #ECEFF1;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #01579B;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #eaa023;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
  background-color: #01579B;
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* Responsive */
/* Navbar Responsive */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu{
      margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
  }
  .search-form{
    display: none !important;
  }
}	
/* Slider Responsive */
@media screen and (max-width: 730px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 600px) {
  .content h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 500px) {
  .content h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.4rem;
  }
}
/* News and Events */
@media screen and (max-width: 576px) {
  .news-heading,
  .event-heading {
    border-right: 0px;
    margin: 0;
    margin-bottom: -52px;
  }
  .news-heading h2,
  .event-heading h2 {
    text-align: center;
  }
  .image img {
    height: 200px;
    width: 100%;
  }
}
/* video page */
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
  filter-nav .items{
    max-width: 600px;
  }
  filter-nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  filter-nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  filter-nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}
/* History and Growth */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}